<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="Document for TSW(Tencent Server Web)">
    <meta name="author" content="adarzheng, maplemiao">

    <title>this is a test</title>

    <link rel="shortcut icon" href="favicon/favicon.png">
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
    <link href="/css/subpages.css" rel="stylesheet">
    <link href="/css/highlight.min.css" rel="stylesheet">
    <style type="text/css">
        .guide-content .guide-box h4 {
            margin: 25px 0 15px;
        }
    </style>
</head>