<div class="side-nav">
    <% const tree = {} %>
    <% site.posts.forEach(item => { %>
        <% let path = item.path %>
        <% let first = path.split('/')[0] %>
        <% if (!tree[first]) tree[first] = { title: theme.classes[first] } %>
        <% let second = path.split('/')[1] %>
        <% if (!tree[first][second] && path.split('/')[2]) tree[first][second] = {title: theme.classes[second]} %>
    <% }) %>
    <% console.log(tree) %>
    <% const thisPosts = site.posts.filter(item => item.path.split('/')[0] === page.path.split('/')[0]) %>

    <% thisPosts.forEach(item => { %>
        <ul class="ul-side">
            <li>
                <h3>
                    <a href="/<%= item.path %>" class="<%= item.path === page.path ? 'current': '' %>"><%= item.path %></a>
                </h3>
            </li>
        </ul>
    <% }) %>
</div>